.content {
  max-width: 800px;
  margin: 20px auto;
}

.test-form-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

#editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mocha-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  z-index: 10;
}